{% from "_formhelpers.html" import render_field %}

{% include '_flashes.html' %}
<a href="{{ url_for('main.register') }}">Register</a>
<form method=post action="/login">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Login>
</form>
<div>
    <p>
        This screen is <em>NOT</em> for your Fitbit Credentials.
    </p>
    <p>
        It is designed to be a login screen for your application. users
        can register and will give your app permission to access their Fitbit
        data though the Fitbit api
    </p>
</div>